#about-div{
    height:550px;
    display: flex;
    justify-content: center;
    background-color: rgb(32, 57, 200);
    color: white;
}

#about-title{
    font-size: 4rem;
}

.span-box{
    width: 150px;
    height: 5px;
    background-color: white;
    display: inline-block;
    border-radius: 10px;
}

i.fa-star{
    font-size: 3rem;
}

.about-row{
    font-size: 1.5rem;
}

@media screen and (max-width:1000px) {
    #about-title{
        font-size: 3rem;
    }    
    .span-box{
        width: 50px;
        height: 5px;
    }
    
    i.fa-star{
        font-size: 2rem;
    }
    .about-row{
        font-size: 1.2rem;
    }
}

@media screen and (max-width:500px) {
    #about-div{
        height:650px;
    }    
}